/* Reset styles */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Global styles */

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
	background-color: #111;
}

header {
	padding: 1rem;
	background-color: #222;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	display: flex;
}
